/*Reset Styles*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  opacity: 1;
}

body {
  font-family: "Inter", sans-serif;
  opacity: 1;
}

/*The end of Reset Styles*/
/*Top Content Styles*/


.container {
  margin: auto;
  max-width: 1440px;
  width: 100%;
  border-radius: 20px;
  background-color: #D69E36;
  padding: 51px 0 30px 0;
  opacity: 1;
}

.top-content {
  display: flex;
  flex-direction: column;
  padding: 0 96px 0 97px;
  color: #FFFFFF;
}

.info-wrap {
  display: flex;
  flex-direction: column;

}

.location-wrap {
  display: flex;
  margin-top: 51px;
  order: 1;
}

.location {
  display: block;
  background: url("./Assets/icons/locat.svg") center center no-repeat;
  width: 30px;
  height: 30px;
}

.cityName {
  font-weight: 500;
  line-height: 29.05px;
  font-size: 24px;
  margin-right: 5px;
  border: none;
  outline: none;
  background: none;
  width: 100px;
  color: #FFFFFF;
  margin-bottom: 300px;
}

.cityName::placeholder {
  color: #FFFFFF;
}

.cityName:focus {
  border: none;
  color: #FFFFFF;
}

.arrow {
  display: block;
  background: url('Assets/img/arrow.png') center center no-repeat;
  width: 21px;
  height: 30px;
  margin-top: -5px;
}

.title {
  margin-top: -260px;
  order: 2;
}

.info-content {
  order: 3;
  margin-top: 100px;
  margin-bottom: 24px;
}

.weather_condition {
  font-weight: 500;
  font-size: 48px;
  line-height: 58.09px;
}

.temp {
  font-weight: 500;
  font-size: 64px;
  line-height: 77.45px;
}

.date {
  margin-top: 10px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
}

.image_content {
  height: 321px;
  width: 321px;
  margin-left: 720px;
  margin-top: -362px;
  order: 4;
  margin-bottom: 20px;
}

.image_content img {
  width: 100%;
}

/*The end of Top Content Styles*/
/*Main Content Styles*/

.main_content {
  margin-top: 24px;
  display: flex;
  padding: 0 42px 0 40px;
}

.menu_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0 20px 0;
  width: 100px;
  height: 537px;
  border-radius: 40px;
  background: #DEAB4D;
  opacity: 0.8;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
}

.weather_icon {
  margin-top: 99px;
  display: block;
  width: 50px;
  height: 50px;
  background: url("./Assets/icons/weather-icon.svg") center center no-repeat;
  margin-bottom: 2px;
}

.menu_text {
  font-weight: 600;
  font-size: 14px;
  line-height: 16.94px;
  color: #FFFFFF;
}

.explore_icon {
  display: block;
  width: 50px;
  height: 50px;
  background: url("./Assets/icons/explore_icon.svg") center center no-repeat;
  margin: 22px 0 2px 0;
}

.location_icon {
  display: block;
  width: 50px;
  height: 50px;
  background: url("./Assets/icons/location.svg") center center no-repeat;
  margin: 22px 0 2px 0;
}

.settings_icon {
  display: block;
  width: 50px;
  height: 50px;
  background: url("./Assets/icons/Settings-alt.svg") center center no-repeat;
  margin: 22px 0 2px 0;
}

.middle-content {
  display: flex;
  flex-direction: column;
}

.activities-content {
  width: 884px;
  height: 244px;
  background: #DEAB4D;
  opacity: 0.8;
  border-radius: 40px;
  margin-left: 30px;
}

.title-wrap {
  display: flex;
  padding: 20px 0 0 35px;
}

.love_icon {
  display: block;
  background: url("./Assets/icons/love_icon.svg") center center no-repeat;
  width: 30px;
  height: 30px;
}

.title_text {
  font-weight: 500;
  font-size: 24px;
  line-height: 29.05px;
  color: #FFFFFF;
  margin-left: 4px;
}

.images_wrap {
  display: flex;
  flex-direction: row;
  margin-top: 36px;
  padding: 0 54.72px 34px 50px;
}

.image_wrap {
  margin-right: 21.29px;
  text-align: left;
}

.image_wrap:last-child {
  margin-right: 0;
}

.activity_img {
  width: 178.85px;
  height: 108px;
  border-radius: 10px;
}

.activity_text {
  font-weight: 500;
  font-size: 12px;
  line-height: 14.52px;
  color: #2B261D;

}

.graphic_block {
  padding: 31px 20px 30px 30px;
}

.graphic {
  display: block;
  background: url('Assets/img/24hrs forecast.png') center center no-repeat;
  width: 884px;
  height: 262px;
  border-radius: 40px;
}

.detailed_content {
  border-radius: 40px;
  width: 324px;
  height: 537px;
  background: #DEAB4D;
  opacity: 0.8;
  padding: 34px 0 47px 0;
}


.end_text {
  line-height: 15.01px;
  font-weight: 400;
  font-size: 12.4px;
  color: #FFFFFF;
}

.middle_text {
  font-weight: 400;
  line-height: 17.15px;
  font-size: 14.17px;
  color: #FFFFFF;
}

.center_text {
  font-weight: 400;
  line-height: 21.44px;
  font-size: 17.72px;
  color: #FFFFFF;
}

.first_cond {
  width: 24.81px;
  height: 24.81px;
}

.second_cond {
  width: 26.58px;
  height: 26.58px;
}

.third_cond {
  width: 31.01px;
  height: 30.12px;
}

.fourth_cond {
  width: 26.58px;
  height: 26.58px;
}

.fifth_cond {
  width: 24.81px;
  height: 24.81px;
}

.time_block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16.05px;
}

.time {
  display: block;
  background: url("./Assets/icons/time.svg") center center no-repeat;
  width: 14.4px;
  height: 14.4px;
  margin-right: 2.14px;
}

.time_text {
  font-weight: 500;
  font-size: 17.12px;
  line-height: 20.71px;
  color: #FFFFFF;
}

.air_conditions_block {
  display: flex;
  flex-direction: column;
  background: url("./Assets/img/Vector 8 (1).png") bottom no-repeat;
}

.detail_title {
  margin: 34px 0 0 16px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16.94px;
  color: #FFFFFF;
}

.union_block {
  display: flex;
  align-items: center;
}

.temp_block {
  display: flex;
  flex-direction: column;
  padding: 20px 0 0 15px;
  color: #FFFFFF;
}

.temp_icon {
  display: block;
  text-align: center;
  background: url('./Assets/icons/temp_icon.svg') center center no-repeat;
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

.wind_block {
  display: flex;
  flex-direction: column;
  padding: 45px 0 0 15px;
  color: #FFFFFF;
}

.wind_icon {
  display: block;
  text-align: center;
  background: url('./Assets/icons/wind_icon.svg') center center no-repeat;
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

.rain_block {
  display: flex;
  flex-direction: column;
  padding: 45px 0 0 15px;
  color: #FFFFFF;
}

.rain_icon {
  display: block;
  text-align: center;
  background: url('./Assets/icons/rain_icon.svg') center center no-repeat;
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

.uv_block {
  display: flex;
  flex-direction: column;
  padding: 45px 0 0 16px;
  color: #FFFFFF;
}

.uv_icon {
  display: block;
  text-align: center;
  background: url('./Assets/icons/Sun.svg') center center no-repeat;
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

.subj {
  font-weight: 500;
  font-size: 12px;
  line-height: 14.52px;
}

.detail {
  font-size: 16px;
  font-weight: 500;
  line-height: 19.36px;
  margin-left: 30px;
}

.error_text {
  display: none;
  font-size: 16px;
  font-weight: 500;
  color: red;
  margin-top: -10px;
}

/*Adaptive design*/
/*The end of Main Content Styles*/

/*for monitor 1280px*/
@media all and (max-width: 1280px) and (min-width: 1024px) {
  .container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
  }

  .activities-content {
    max-width: 684px;
    width: 100%;
  }

  #fourth_activity {
    display: none;
  }

  #fourth_text {
    display: none;
  }

  .graphic {
    max-width: 684px;
    width: 100%;
  }

  .detailed_content {
    margin-left: 20px;
  }
}

/*The end of styles for monitor 1280px*/

/* Styles for monitor till 1024px*/
@media all and (max-width: 1024px) and (min-width: 800px) {
  .container {
    max-width: 1024px;
    margin: 0 auto;
    width: 100%;
  }

  .middle-content {
    display: none;
  }

  .image_content {
    margin-left: 400px;
  }

  .detailed_content {
    margin-left: 350px;
  }

  .subj {
    font-size: 16px;
  }

  .detail {
    font-size: 20px;
  }
}

/*Styles for monitor till 1024px*/
/* Styles for monitor till 800px*/
@media all and (max-width: 800px) and (min-width: 440px) {
  .container {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
  }

  .middle-content {
    display: none;
  }

  .image_content {
    margin-left: 200px;
  }

  .detailed_content {
    margin-left: 150px;
  }

  .weather_condition {
    font-size: 64px;
  }

  .date {
    font-size: 25px;
  }

  .subj {
    font-size: 16px;
  }

  .detail {
    font-size: 20px;
  }
}

/* The end of styles for monitor till 800 px*/

/* Iphone 14 Pro Max-1 design styles */
@media all and (max-width: 440px) {
  .container {
    max-width: 430px;
    width: 100%;
    border-radius: 17px;
    padding: 0;
  }

  .error_text {
    margin-top: 0;
  }

  .top-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  .location-wrap {
    margin-top: 0;
    margin-left: -240px;
    padding: 40px 0 0 33px;
  }

  .location {
    width: 28px;
    height: 28px;
  }

  .cityName {
    width: 95px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24.2px;
  }

  .arrow {
    display: block;
    background: url("./Assets/icons/arrow_down.svg") center center no-repeat;
    width: 24px;
    height: 24px;
  }

  .error_text {
    margin-top: 0;
  }

  .title {
    margin-top: -180px;
    order: 2;
  }

  .location-wrap {
    order: 1;
  }

  .image_content {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
    margin-left: 0;
    order: 3;
    margin-top: 0;
    margin-top: 15px;
  }

  .image_content img {
    width: 100%;
  }

  .info-content {
    order: 4;
    margin-top: 0;
  }

  .date {
    margin-top: 13px;
  }

  .menu_content {
    width: 0;
    height: 0;
    position: relative;
  }

  .avatar {
    position: absolute;
    top: -595px;
    left: 330px;
    width: 30px;
    height: 30px;
  }

  .menu_content p,
  .menu_content i {
    display: none;
  }

  .activities-content {
    display: none;
  }

  .main_content {
    display: flex;
    flex-direction: column;
  }

  .detailed_content {
    order: 1;
    width: 365px;
    height: 64px;
    border-radius: 0;
    background: #DEAB4D;
    opacity: initial;
    margin-bottom: 0;
    padding: 0;
  }

  .detailed_content .time_block,
  .time, .time_text,
  .air_conditions_block {
    display: none;
  }

  .end_text {
    font-weight: 400;
    font-size: 14px;
    line-height: 16.94px;
  }

  .middle_text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19.36px;
  }

  .center_text {
    font-weight: 400;
    font-size: 20px;
    line-height: 24.2px;
    margin-top: -6px;
    margin-left: -7px;
  }

  .first_cond, .fifth_cond {
    height: 28px;
    width: 28px;
  }

  .second_cond, .fourth_cond {
    width: 30px;
    height: 30px;
  }

  .third_cond {
    width: 35px;
    height: 34px;
    margin-top: -5px;
  }

  .middle-content {
    order: 2;
  }

  .graphic_block {
    display: flex;
    margin-top: 32px;
    padding: 0;
  }

  .graphic {
    display: block;
    width: 382px;
    height: 285px;
    background-image: none, url('Assets/img/mobile_graphic.png');
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 10px;
  }
}

/* The end of Iphone 14 Pro Max-1 design styles */


