.slick-slider.slick-initialized {
  width: 240px;
  margin-left: 50px;
}

.slick-arrow.slick-prev::before {
  content: '';
  display: block;
  background:url('./Components/Assets/icons/prev-button.svg') center center no-repeat;
  width: 19.49px;
  height: 23.03px;
}

/*slick-arrow slick-next*/

.slick-arrow.slick-next::before {
  content: '';
  display: block;
  background:url('./Components/Assets/icons/next-button.svg') center center no-repeat;
  width: 19.49px;
  height: 23.03px;
}
